
.navbar-expand-sm .navbar-collapse{
    flex-direction: row-reverse !important;
}

.header {
    border-bottom: 1px solid #007bff!important;
   
}
.navbar-light .navbar-nav .nav-link{
    color: #007bff!important
}
.displayName{
    color: #007bff;
}